#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  background-color: #000; /* fond sombre initial */
}

form {
  background: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  margin: 0 auto;
  width: fit-content;
  position: relative;
  top: 40vh; /* Descend le formulaire vers le milieu de l'écran */
}

form input[type="submit"],
form button[type="submit"] {
  opacity: 0;        /* Rendu invisible */
  pointer-events: auto; /* Toujours cliquable */
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

input[type="password"] {
  font-size: 2rem;          /* augmente la taille des • */
  letter-spacing: 8px;      /* espace entre chaque • */
  padding: 0px 20px;

  /* Fond semi-transparent noir */
  background: rgba(0, 0, 0, 0); 

  /* Bordure verte */
  border: 3px solid white; 
  border-radius: 10px;

  /* Texte vert */
  color: #01C55D;

  outline: none;
  transition: border-color 0.3s, background 0.3s;
  width: 500px;
  text-align: center;
  caret-color: #01C55D; 
}


input[type="password"]:focus {
  border-color: white; /* vert plus clair au focus */
  background: rgba(0, 0, 0, 1); /* légèrement plus opaque */
}

#password-field {
  caret-color: transparent; /* Masque le curseur clignotant */
}
